# PostgreSQL connection details: Supabase
hostnamePostgreSQL = your_supabase_host
databasePostgreSQL = your_supabase_database
portPostgreSQL = your_supabase_port
usernamePostgreSQL = your_supabase_username
passwordPostgreSQL = your_supabase_password 

# MySQL connection details -filessioMySQL
hostnameMySQL = your_mysql_host
databaseMySQL = your_mysql_database
portMySQL = your_mysql_port
usernameMySQL = your_mysql_username
passwordMySQL = your_mysql_password

# MongoDB connection details - filessioMongoDB
hostnameMongoDB = your_mongodb_host
databaseMongoDB = your_mongodb_database
portMongoDB = your_mongodb_port
usernameMongoDB = your_mongodb_username
passwordMongoDB = your_mongodb_password

# MongoDB connection details - Atlas
hostnameMongoDBAtlas = your_mongodb_atlas_host
databaseMongoDBAtlas = your_mongodb_atlas_database
usernameMongoDBAtlas = your_mongodb_atlas_username
passwordMongoDBAtlas = your_mongodb_atlas_password